.s {
 float: right;
 padding-right: 50px;

}

.k {
    float: right;
    padding-top: 50px;
    padding-right: 50px ;
}
.d {
    float: right;
    padding-top: 20px;
    padding-right: 50px;
}
p {
    margin-right: 50px;
    padding: auto;
}